main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /*background-color: bisque;*/
    width: 20%;
}
main form input[type=text],main form input[type=url], main form input[type=password] {
    width: 98%;
}
main form input[type=submit] {
    width: 100%;
}
main form input {
    margin: 5px 0;
}
#errorstatus {
    color: red;
    font-weight: 900;
    font-style: italic;
}


